<div>
  <div class="split left">
    <div class="centered">
      <div *ngFor="let device of devicesList">
        <div  class="border">
          <span> Id {{ device.id }}</span><br>
          <span>Description {{ device.description }} </span><br>
          <span>Address {{ device.address }} </span><br>
          <span>Maximum Energy {{ device.maxEnergy }} </span><br>
          <button type="button" (click)="showCons()">Show consumption</button>
        </div>
       </div>

      <button type="button" (click)="logOut()">Log Out</button>
    </div>
  </div>

</div>


