<div *ngIf="loged">
<div class="container col-md-6">
    <form  (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" [(ngModel)]="user.name"  name="name" class="form-control" />
      </div>
      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" [(ngModel)]="user.password"  name="password" class="form-control" />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>

</div>
</div>

