<div>
  <div>Consumption</div>
  <button type="button" (click)="addNewCons()">Add consumption</button>

  <div *ngFor="let cons of consList">
    <ng-container>
      <div class="border">
        <span> {{ cons.id }} </span>
        <span> {{ cons.energyConsumption }} </span>
        <span> {{ cons.timestamp }} </span>
        <span> {{ cons.deviceId }} </span>
        <!--      <span>some</span>-->
        <!--      to user -->
      </div>
    </ng-container>
    <div>
      <button type="button" (click)="updateCons(cons)">Edit</button>
      <button type="button" (click)="deleteCons(cons)">Delete</button>
  </div>
</div>
</div>
